@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#E1E4DD ;
}